body {
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    --color-orange: #ffb422;
    --color-darkGray: #333333;
    --color-lightGray: #999999;
}

button {
    font-family: inherit;
    color: inherit;
    border: none;
}

.calcul {
    margin: 50px auto 0;
    padding: 7px;
    width: 300px;
    height: 550px;
    background-color: black;
    border-radius: 30px;
}

.screen {
    height: 150px;
    display: flex;
    justify-content: end;
    align-items: end;
    padding: 20px 10px;
}

.text {
    font-size: 3.5rem;
    margin: 0;
}

.button {
    display: grid;
    gap: 7px;
    justify-items: center;
    grid-template-areas: "ac plusMin percent divide"
        "seven eight nine mult"
        "four five six minus"
        "one two three plus"
        "zero zero dot equals";
}

.btn.zero {
    width: auto;
    grid-area: zero;
    justify-self: stretch;
    border-radius: 30px;
}

.btn {
    background-color: var(--color-darkGray);
    font-size: 1.7rem;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    cursor: pointer;
    user-select: none;
}

.btn:hover {
    filter: brightness(150%);
}

.grey-btn {
    background-color: var(--color-lightGray);
    color: black;
}

.orange-btn {
    background-color: var(--color-orange);
}

.btn.orange-btn:hover {
    filter: brightness(120%);
}